
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'LOGO.png' %}" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'forgotpassword.css' %}">
</head>
<body>
    <div class="login-page d-flex">
        <div class="blue-side">
            <img src="{% static 'background.png' %}" alt="Description of Image" class="side-image">
            <p class="expense-tracking-text">Track your expenses, manage your budget, and save money.</p>
        </div>
        <div class="form-container">
            <div class="welcome-message">
                <h2 class="welcome-title">Forgot Your Password?</h2>
                <p class="login-instruction">Enter your username to proceed.</p>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    {{ form.username }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Next</button>
            </form>
            <div class="back-to-login mt-4 text-center">
                <p>Remembered your password? <a href="{% url 'login' %}">Go back to Login</a></p>
            </div>
        </div>
    </div>
</body>
</html>