{% load static %}
<nav class="navbar">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <!-- Logo on the left side -->
    <div class="navbar-logo">
        <img src="{% static 'piggy-bank.png' %}" alt="Logo" class="logo">
    </div>
    
    <!-- Profile Dropdown on the right side -->
    <div class="profile-dropdown">
        <img id="profile-dropdown" 
             src="{% if user.profile.profile_picture %}{{ user.profile.profile_picture.url }}{% else %}{% static 'default_profile.png' %}{% endif %}" 
             alt="Profile Picture" class="profile-dropdown-img">
        
        <div class="dropdown-content">
            <a href="{% url 'user_profile' %}">My Account</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
</nav>
